{% capture full_path %}
  {{- include.path }}{% if include.anchor %}#{{ include.anchor }}{% endif %}
{% endcapture %}

{% assign dropdown_item = include.dropdown_item | default: false %}

<!--
  Any link with an anchor will have their active class changed via changeActive() in JS
-->
{% if dropdown_item %}
  <a
    class="dropdown-item page-scroll
      {% if include.anchor == nil and include.path == page.path %}
        active
      {% endif %}"
    href="{{ full_path | absolute_url }}"
  >
    {{ include.label }}
  </a>
{% else %}
  <a
    class="nav-link page-scroll
      {% if include.anchor == nil and include.path == page.path %}
        active
      {% endif %}"
    href="{{ full_path | absolute_url }}"
  >
    {{ include.label }}
  </a>
{% endif %}
